/*
Colors used:
Primary Color (Light Green): #36FF87;
Secondary Color (Navy Blue): #0D1B2B;
*/
/* Layout styling */
.container {
  max-width: 1200px;
  padding: 0 15px;
}

body {
  background-color: #ffe18f;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.55em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #0031FF;
  text-decoration:
    /* No underlining */
}

a:visited {
  /* visited link */
  color: #0031FF;
}

a:hover a:focus {
  color: #5899F9;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #36FF87;
  color: #0D1B2B !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 3px;
  border-bottom: 2px solid #26B25E;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.75;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0D1B2B !important;
  text-transform: uppercase;
  border: 2px solid #0D1B2B;
}

.button.contact:hover {
  background-color: #36FF87;
  color: #0D1B2B !important;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

ul {
  list-style-type: none;
  padding: 0
}

ul>li {
  display: inline-block;
}

ol {
  list-style-type: none;
  padding: 0
}

* {
  box-sizing: border-box;
}

header {
  background-color: #ffe18f;
  text-align: center;
  padding: 10px 0;
  box-shadow: 3px 3px 5px 0px rgba(128, 123, 125, 0.4);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 99px;
}

#hero {
  background-color: #ffe18f;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

.icons svg {
  max-width: 150px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 0
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 0
  }

  .col-md-7 {
    width: 58.33%;;
  }

  .col-md-5 {
    width: 41.66%;;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
