/*
Colors used:
Primary Color (Light Green): #36FF87;
Secondary Color (Navy Blue): #0D1B2B;
*/
/* Layout styling */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

nav>ul>li {
  display: inline-block;

}
.navtoggle li:not(:last-child) {
  display: none;
}

footer {
  background-color: #4a4a4a;
  color: white;
}

footer h2 {
  margin-top:0;
  padding-top: 1em;
  text-align: center;
}

footer .button{
  margin: 2em 0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.55em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #36FF87;
    /* No underlining */
}

a:visited {
  /* visited link */
  color: #0031FF;
}

a:hover a:focus {
  color: #5899F9;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #36FF87;
  color: #0D1B2B !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 3px;
  border-bottom: 2px solid #26B25E;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.65;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: transparent;
  color: white !important;
  text-transform: uppercase;
  border: 2px solid white;
}

.button.contact:hover {
  background-color: #36FF87;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}


nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

ul {
  list-style-type: none;
  padding: 0
}

ul>li {
  display: inline-block;
}

ol {
  list-style-type: none;
  padding: 0
}



header {
  background-color: white;
  padding: 10px 0 4px;
  box-shadow: 3px 3px 5px 0px rgba(128, 123, 125, 0.4);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 56px;
}

#hero {
  background-color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: ;
}

.icons svg {
  max-width: 50px;
}

 svg.berlin-illustration {
max-width: 100%;
}

.center{
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 150px;
}

/*Animation
=======================*/
.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav>ul>li {
    display: inline-block;

  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 20px 0 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 25%;
  }

  .col-md-12 {
    width: 100%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin:  0;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;

}


.navtoggle li:last-child {
  display: none;
}

  #hero span {
    display: block;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .story {
    padding-right: 60px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .myphoto img {
    max-width: 600px;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
